.div{
    width: 100%;
    background-color: #cccccc;
    margin-top: 30px;
    color: #797979;
    height: 50px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 0 1.5em;
    font-size: 20px;
    font-weight: 600;
}